flask>=3.1.2
flask-login>=0.6.3
flask-sqlalchemy>=3.1.1
werkzeug>=3.1.5
sqlalchemy>=2.0.46
gunicorn>=24.1.1
numpy<2
openpyxl>=3.1.5
pandas>=2.3.3
reportlab>=4.0.7
flask-weasyprint
watchdog
flask>=3.1.2
flask-login>=0.6.3
flask-sqlalchemy>=3.1.1
flask-weasyprint
gunicorn>=24.1.1
numpy<2
openpyxl>=3.1.5
pandas>=2.3.3
reportlab
sqlalchemy>=2.0.46
watchdog
werkzeug>=3.1.5
flask
flask-login
flask-sqlalchemy
flask-weasyprint
gunicorn
numpy
openpyxl
pandas
reportlab
sqlalchemy
watchdog
werkzeug
